{% extends 'main/base.html' %}

{% block title %}
    Редактировать зал
{% endblock %}

{% block content %}
    <h3>
        <form method="post">
            {% csrf_token %}
            <label>Номер</label>
            <input type="number" name="number" class="form-control" value="{{ hall.number }}"><br>
            <label>Наименование</label>
            <input type="text" name="title" class="form-control" value="{{ hall.title }}"><br>
            <label>Описание</label>
            <textarea type="text" name="description" class="form-control">{{ hall.description }}</textarea><br>
            <label>Этаж</label>
            <input type="number" name="level" class="form-control" value="{{ hall.level }}"><br>
            <label>Площадь</label>
            <div class="input-group mb-3">
            <input
                    type="number"
                    step="0.01"
                    id="square"
                    name="square"
                    class="form-control"
                    placeholder="например, 120.5"
                   value="{{ hall.square }}"
            />
            <span class="input-group-text">км2</span><br>
            </div>
            <button type="submit" class="btn btn-success mg-3">Редактировать</button>
            <a href="{% url 'halls' %}" class="btn btn-warning mg-3">Назад</a>
            <span>{{ error }}</span>
        </form>
    </h3>
{% endblock %}
