{% extends 'main/base.html' %}

{% block title %}
Редактировать Новость
{% endblock %}

{% block content %}
<h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Наименование новости</label>
        <input type="text" name="name" class="form-control" value="{{ news.name }}"><br>
        <label>Краткое содержание</label>
        <input type="text" name="summary" class="form-control" value="{{ news.summary }}"><br>
        <label>Описание экспоната</label>
        <textarea type="text" name="description" class="form-control">{{ news.description }}</textarea><br>

        {% if news.image %}
        <div class="mb-3">
            <label class="form-label">Текущее изображение:</label><br>
            <img src="{{ news.image.url }}" alt="{{ news.name }}" class="img-thumbnail" width="200">
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="image" class="form-label">Загрузить новое изображение</label>
            <input type="file" class="form-control" name="image" id="image">
        </div>
        <button type="submit" class="btn btn-success mg-3">Редактировать</button>
        <a href="{% url 'news' %}" class="btn btn-warning mg-3">Назад</a>
        <span>{{ error }}</span>
    </form>
</h3>
{% endblock %}
